In [16]:
from matplotlib import pyplot as plt
import pandas as pd

# Vizu settings
%matplotlib inline
plt.rcParams['font.size'] = 16
plt.rcParams['figure.figsize'] = (10, 6)

# reproducibility
import random
random.seed(1337)

In [23]:
loaded_data = pd.read_csv("historic_trends_2010_2020.csv")
loaded_data.sort_values(by="date", inplace=True)
loaded_data.to_csv("historic_trends_2010_2020.csv", index=False)

In [18]:
from_date = "2010-01-01"
to_date = "2010-12-31"

mask = (loaded_data["date"] > from_date) & (loaded_data["date"] <= to_date)

first_year = loaded_data[mask]

In [19]:
first_year.head()

         date  Donald Trump  Putin  MeToo  Bitcoin  ISIS        country
1  2010-01-02            13     18      1        0    59  United States
2  2010-01-03            17      6      0        0    67  United States
3  2010-01-04            15     11      0        0    73  United States
4  2010-01-05            20      9      0        0    76  United States
5  2010-01-06            17      6      0        0    57  United States

In [20]:
# sort by date
first_year.sort_values(by="date", inplace=True)

C:\Users\andy\AppData\Local\Temp\ipykernel_9080\3133514850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_year.sort_values(by="date", inplace=True)

In [21]:
first_year.head()

            date  Donald Trump  Putin  MeToo  Bitcoin  ISIS         country
1     2010-01-02            13     18      1        0    59   United States
1461  2010-01-02            17     11      0        0    44         Germany
1096  2010-01-02             7      7      0        0    20          Canada
731   2010-01-02            14     10      0        0    62  United Kingdom
366   2010-01-02             0      0      0        0    33          Norway